<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/settings" method="post">
        <input type="username" name="username" placeholder="johndoe_"   /> <br> <br>
        <input type="name" name="name" placeholder="johndoe"   /> <br> <br>
        <input type="email" name="email" placeholder="john@doe.example.com"   /> <br> <br>

        <a href="/profile" style="text-decoration:none ;  display: flex; align-items: center;">
            <label>profile Information <br> <small>
                    edit your photos bios
                </small>

            </label>
            <div style=" margin-left: 20px;
            width:50px; height: 50px ; border-radius: 50px;
     background-image: url(https://images.pexels.com/photos/1043474/pexels-photo-1043474.jpeg?auto=compress&cs=tinysrgb&w=600);background-repeat: no-repeat; background-size: cover;"
                ;>
            </div>
        </a>
        <button>Save settings</button>

    </form>
    <hr/>
    <a href="/deleteaccount">Delete Account</a>
    <a href="reset password">Reset password</a>
</body>
</html>